// **************************************
//
//   #components.cards
//
// **************************************

.cards {
  @include outer-container;
}

.card.bride {
  $bride-accent-color: #D36C5F;
  .ribbon-wrapper {
    .ribbon {
      background-color: $bride-accent-color;
    }
  }

  .card-stats {
    ul li {
      color: $bride-accent-color;
    }
  }
}
