// **************************************
//
//   #components.cards
//
// **************************************

section.hello, section.heart {
  .hero {
    padding-bottom: 0;
    background: url(../images/white_church.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .hero-inner {
    color: $base-font-color;
    .logo {
      font-size: 2em;
    }
    p {
      font-size: .6em;
    }
  }
}

section.heart {
  .hero {
    $hero-background: desaturate(darken($base-accent-color, 20), 30);

    padding-bottom: 0;
    background: url(../images/heart.jpg);
    background-color: $hero-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .hero-inner {
    color: #D36C5F;
    padding-top: 12em;
  }
}
