.bullets {
  $icon-face-size: 2em;
  .face-icon {
    width: $icon-face-size;
    height: $icon-face-size;
    margin: $icon-face-size/4;
    padding: $icon-face-size/4;
    padding-bottom: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top;
    &.ryo {
      float: left;
      background: url(../images/ryoFace.jpg);
      background-size: cover;
    }
    &.miki {
      float: left;
      background: url(../images/mikiFace.jpg);
      background-size: cover;
    }
  }
  h2.title {
    font-size: 1.2em;
    display: block;
    width: 100%;
    text-align: center;
  }
  .bullet-content {
    min-height: $icon-face-size*1.6;
    margin: 0 $icon-face-size*1.4 0;
    padding: $icon-face-size/4 0;
  }
}
