section.hello
  .hero
    .hero-inner
      .logo
        i.fa-bell.fa
      .hero-copy
        h1 新郎・新婦の紹介
section.selfies
  .cards
    .card
      .ribbon-wrapper
        .ribbon 新郎
      .card-image
        img src="./assets/images/ryo.jpg"
      .card-header 工藤 亮
      .card-copy
        ul
          li 趣味: サッカー・フットサル
          li 小さい頃の夢: 授業参観で騒がれるイケメン父さん
      .card-stats
        ul
          li
            | '88/5/14
            span 誕生日
          li
            | 大田区
            span 出身地
          li
            | B型
            span 血液型
    .card.bride
      .ribbon-wrapper
        .ribbon 新婦
      .card-image
        img src="./assets/images/miki.jpg"
      .card-header 狩場 美樹
      .card-copy
        ul
          li 趣味: カラオケ
          li 小さい頃の夢: SPEED（笑）
      .card-stats
        ul
          li
            | '88/11/15
            span 誕生日
          li
            | 熊本市
            span 出身地
          li
            | A型
            span 血液型
    .card.pr
      .card-image.logo-banner
        img src="./assets/images/cookpadLogoBanner.png"
      .card-image
        img src="./assets/images/norihikoBanner.jpg"
      .card-header 間淵 紀彦 (クックパッド)
      .card-copy
        ul
          li 趣味: サーフィン
          li 小さい頃の夢: ウルトラマン
          li
            |ひと言:
            a href="http://cookpad.com/ct/84845" target="_blank"
              | クックパッドでは、やる気のある人材を常に募集しています

      .card-stats
        ul
          li
            | '75/12/1
            span 誕生日
          li
            | 立川市
            span 出身地
          li
            | O型
            span 血液型

section.cheers
  .hero
    .hero-inner
      .logo
        i.fa-heart.fa
      .hero-copy
        h1 ふたりへのお祝いメッセージ
  a.twitter-timeline data-widget-id="517907084755480576" href="https://twitter.com/hashtag/kudo_happy_wedding"  #kudo_happy_wedding Tweets
  javascript:
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
section.heart
  .hero
    .hero-inner
      .logo
        i.fa-heart.fa
      .hero-copy
        h1 ふたりについて
  .bullets
    .bullet.two-col-bullet
      h2.title 相手の第一印象
      .face-icon.ryo
      .bullet-content 小さくて元気な子だなー
      .face-icon.miki
      .bullet-content あんまり覚えてないです…
      h2.title 相手の好きなところ
      .face-icon.ryo
      .bullet-content 元気いっぱいで笑顔が多いところ
      .face-icon.miki
      .bullet-content チャーミングな笑顔
      h2.title どんな家庭にしたいか
      .face-icon.ryo
      .bullet-content 笑顔が絶えない仲良し家族
      .face-icon.miki
      .bullet-content 早く帰りたい！と思える家庭
      h2.title 好きな食べ物
      .face-icon.ryo
      .bullet-content
        a href="http://cookpad.com/ct/84843" target="_blank"
          | メロン
          i.fa-external-link-square.fa
      .face-icon.miki
      .bullet-content
        ul
          li
            a href="http://cookpad.com/ct/84104" target="_blank"
              | 芳野のおばあちゃんのホルモン煮込
              i.fa-external-link-square.fa
          li
            a href="http://cookpad.com/ct/84105" target="_blank"
              | 狩場家のロールキャベツ
              i.fa-external-link-square.fa
      .face-icon.norihiko
      .bullet-content
        a href="http://cookpad.com/ct/84844" target="_blank"
          | クックパッドならあなたの好きなレシピがさくっと見つかります
          i.fa-cutlery.fa
      h2.title 相手にひと言
      .face-icon.ryo
      .bullet-content 本当にいつもありがとう。自慢の旦那になります！
      .face-icon.miki
      .bullet-content 健康第一で毎日頑張ってください＾＾
      h2.title クックパッドにひと言
      .face-icon.ryo
      .bullet-content 今期あと5000万売ります
      .face-icon.miki
      .bullet-content
        | いつも活用しております！ またレシピ投稿します
        i.fa-music.fa
      .face-icon.norihiko
      .bullet-content おめでとう。人材募集しています。代理店の方歓迎します

section.pr
  a href="http://cookpad.com/ct/84845" target="_blank"
    img src="./assets/images/HRBanner.jpg"
